<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        List
      </h1>
      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>MEAN Stack List</p>
        </a>
        <a class="list-menu-item">
          <p>Exercise List</p>
        </a>
        <a class="list-menu-item">
          <p>Video Editing List</p>
        </a>
        <a class="list-menu-item">
          <p>Grocery List</p>
        </a>
      </div>

      <button class="button is-primary has-text-white">+ New List</button>

    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Task
      </h1>
      <div class="task completed">
        <p >Have to finish front end today</p>
      </div>
      <div class="task">
        <p>Also finish api endpoints with express</p>
      </div>
      <div class="task">
        <p>Get that break, switch to exercise list</p>
      </div>
    </div>
  </div>
</div>
