<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        List
      </h1>

      <div class="list-menu">
      <!-- List Elements -->
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>
     
          <div class="dropdown is-up is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-primary has-text-white" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span><i class="fas fa-cog" aria-hidden="true">&nbsp;&nbsp;</i>List</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-up" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" style="max-width:100px" role="menu">
              <div class="dropdown-content" style="max-width:100px">
                <div class="dropdown-item" >
                  <div *ngIf="router.url != '/lists'">
                    <a routerLink='/new-list' class="dropdown-item single">
                      Create
                    </a>
                    <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item single" >
                      Edit
                    </a>
                    <a (click)="deleteListClick()" class="dropdown-item has-text-danger single" >
                      Delete
                    </a>
                  </div>
                  <div *ngIf="router.url === '/lists'">
                    <a routerLink='/new-list' class="dropdown-item single" >
                      Create
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Task
      </h1>
      <div *ngIf="tasks">
  
        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons">

            <button class="button is-small" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger is-small" (click)="deleteTaskClick(task._id)" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>
  
        <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the + button to create
          a new task.</h3>

        <button routerLink="./new-task"  class=" button circle-add-button has-text-white is-primary">
          <img src="../../../assets/plus-icon.svg">
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Welcome, please select a list from the sidebar.</h3>
      </div>
      

    </div>
  </div>
</div>
